.header{
    font-size: 50px;
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
span{
    font-size: 50px;
    color: black;
}